.card

    margin-bottom: 4em
    border: 8px solid $secondary
    padding: 2em
    color: $text

    &:nth-child(2)
        border-color: $primary

    &:last-child
        margin-bottom: 0
        border-color: $tertiary

.card__title
    font-size: 2.3em
    margin-bottom: 1.1rem

.card__description
    margin-bottom: 1em !important

